@model FitnessProgramFormViewModel
@{
    ViewBag.Title = "Create program";
}
@section Styles {
    <link rel="stylesheet" href="~/css/AddExercise.css" asp-append-version="true" />
}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="d-flex align-items-center justify-content-center mb-5">
            <h1>
                Here is a begining
            </h1>
        </div>
        <hr />
        <div class="col-md-6">
            <form asp-area="" asp-controller="FitnessProgram" asp-action="AddProgram" method="post" class="mt-5">
                <input asp-for="Id" hidden />             
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input class="form-style" asp-for="Name" type="text" placeholder="Program Name"/>
                    <i class="input-icon material-symbols-light--exercise-outline"></i>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input class="form-control btnn" type="submit" value="Create" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
