.input-icon {
    top: 0px;
    left: 15px;
    font-size: 20px;
}

.form-style {
    padding-left: 170px;
}


.droppDownMy {
    text-align: center;
    background-color: #1f2029;
    border: 1px solid #ff206e;
}