
.caruselImg {
    width: 150px;
    height: 150px;
}

.caruselText {
    font-size: 30px;
}

.caruselDivs {
    width: 100%;
    height: 500px;
    background-color: #2a2b38;
}

#fit {
    color: #ff206e;
}

.btnn {
    border-radius: 4px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    margin-top: 20px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}

    .btnn:active,
    .btnn:focus {
        background-color: #ff206e;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }

    .btnn:hover {
        background-color: #ff206e;
        color: #ffeba7;
        box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
