@model RegisterUserInfoFormViewModel
@{
    ViewBag.Title = "Register page";
    string imgSrc = Model.ImageForPreview != null
                   ? String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.ImageForPreview))
                   : "/images/Avatar/avatar.svg";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Login_Register.css" asp-append-version="true" />
}

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap-My mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <h1>Profile configuration</h1>
                                    <form asp-area="" asp-action="RegisterUserInfo" asp-controller="Account" method="post" enctype="multipart/form-data">

                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="container">
                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input asp-for="Image" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                                    <label for="imageUpload"></label>
                                                    <span asp-validation-for="Image" class="text-danger"></span>
                                                </div>
                                                <div class="avatar-preview">
                                                    <div id="imagePreview"
                                                         style="background-image: url(@imgSrc);
                                                                background-size: cover;
                                                                background-position: center;">
                                                    </div>
                                                    <h4 class="mt-2">Profile picture</h4>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <input asp-for="FirstName" type="text" class="form-style" placeholder="First name">
                                            <i class="input-icon ph--user-bold"></i>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group mt-2">
                                            <input asp-for="LastName" type="text" class="form-style" placeholder="Last name">
                                            <i class="input-icon ph--user-bold"></i>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group mt-2">
                                            <input id="dateInput" asp-for="BirthDate"
                                                   type="text" class="form-style textbox-n"
                                                   onfocus="(this.type='date')"
                                                   onblur="(this.type='text')"
                                                   placeholder="Birthdate">
                                            <i class="input-icon material-symbols--cake-outline"></i>
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>

                                        <div class="form-group mt-2">
                                            <select asp-for="@Model.Gender" class="form-style" style="color: #ffeba7" aria-required="true">
                                                <option disabled selected value="" style="color: #ffffff">Gender</option>
                                                @foreach (var gender in Enum.GetValues(typeof(GenderType)))
                                                {
                                                    <option style="color: #ffffff" value="@gender">@gender</option>
                                                }
                                            </select>
                                            <i class="input-icon mdi--human"></i>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>

                                        <div class="form-group mt-2">
                                            <input asp-for="PhoneNumber" type="text" class="form-style" placeholder="Phone number">
                                            <i class="input-icon fluent--phone-32-regular"></i>
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>

                                        <div class="form-group mt-2">
                                            <input asp-for="InstagramUrl" type="text" class="form-style" placeholder="Instagram account link">
                                            <i class="input-icon mdi--instagram"></i>
                                            <span asp-validation-for="InstagramUrl" class="text-danger"></span>
                                        </div>

                                        <div class="form-group mt-2">
                                            <input asp-for="FacebookUrl" type="text" class="form-style" placeholder="Facebook account link">
                                            <i class="input-icon iconoir--facebook "></i>
                                            <span asp-validation-for="FacebookUrl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input asp-for="YouTubeUrl" type="text" class="form-style" placeholder="Youtube account link">
                                            <i class="input-icon ri--youtube-line"></i>
                                            <span asp-validation-for="YouTubeUrl" class="text-danger"></span>
                                        </div>

                                        <button type="submit" class="btnn btn-primary btn-block mt-5" onclick="showHiddenDiv()">Complete</button>
                                    </form>
                                    @if (ViewBag.RegState != null)
                                    {
                                        <form class="form-inline float-end" asp-controller="Account" asp-action="Logout" method="post">
                                            <button type="submit" class="nav-link btnn btn-link text-dark" onclick="showHiddenDiv()">Log out</button>
                                        </form>
                                    }
                                    <div id="hiddenDiv" class="text-center float-start m-5" style="display:none;">
                                        <div class="spinner-border custom-spinner-color " role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* <partial name="_ValidationScriptsPartial" /> *@
    <script src="~/js/RegisterUserInfoView.js"></script>
}
