@model RegisterViewModel
@{
    ViewBag.Title = "Register page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Register</h4>
                </div>
                <div class="card-body">
                   
                    <form asp-action="Register" asp-controller="Account" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" type="text" class="form-control" placeholder="Enter your username">
                            <span asp-validation-for="Username" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email">
                            <span asp-validation-for="Email" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password">
                            <span asp-validation-for="Password" class="alert-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                            <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Register</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
