@model UserInfoViewModel
@{
    ViewBag.Title = "Create User";
}

<form asp-controller="UserInfo" asp-action="Create"  method="post">
  
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"/>

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />

    <label asp-for="Gender"></label>
    <select asp-for="@Model.Gender">
        <option value="" selected disabled >Select your gender</option>
        @for (int i = 1; i <= Enum.GetNames(typeof(GenderType)).Length; i++)
        {
            <option value="@i">@((GenderType)i)</option>
        }
    </select>

    <label asp-for="BirthDate"></label>
    <input asp-for="BirthDate" type="date"/>

    <p>Optional</p>
    <label asp-for="ImgUrl"></label>
    <input asp-for="ImgUrl" />
    <input asp-for ="FacebookUrl" placeholder="Link to Facebook" />
    <input asp-for="InstagramUrl" placeholder="Link to Instagram" />
    <input asp-for="YouTubeUrl" placeholder="Link to YouTube" />

    <input type="submit" value="submit"/>
</form>