@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Login_Register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
}

<h1 id="privacyH1">@ViewData["Title"]</h1>

<p>
    This Privacy Policy explains how GymFitPluse collects, uses, and protects the personal information of users of our web application GymFit+.
</p>

<h4>Information We Collect</h4>
<p>
    We may collect personal information from you when you interact with our App, including:

    Information you provide voluntarily, such as your name, email address, and any other information you choose to share when contacting us or using our services.
    Information collected automatically, such as your IP address, browser type, device information, and usage data, through cookies and similar tracking technologies.
</p>

<h4>How We Use Your Information</h4>
<p>
    We may use the information we collect from you for the following purposes:

    To provide and maintain our App.
    To personalize your experience and improve our services.
    To communicate with you, respond to your inquiries, and provide customer support.
    To analyze usage trends and optimize the performance of our App.
    To detect, prevent, and address technical issues or security breaches.
</p>

<h4>Data Sharing and Disclosure</h4>
<p>
    We may share your personal information with third-party service providers that assist us in operating our App and providing our services. These service providers are authorized to use your personal information only as necessary to provide services to us and are contractually obligated to maintain the confidentiality of your information.

    We may also disclose your information in the following circumstances:

    To comply with applicable laws, regulations, or legal processes.
    To protect our rights, property, or safety, or the rights, property, or safety of others.
    In connection with a merger, acquisition, or sale of assets, if applicable.
</p>

<h4>Data Security</h4>
<p>
    We implement appropriate technical and organizational measures to safeguard the security of your personal information and protect it from unauthorized access, disclosure, alteration, or destruction. However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
</p>

<h4>Your Choices</h4>
<p>
    You have the right to access, update, or delete your personal information held by us. You may also choose to opt out of certain data collection or processing activities, although this may limit your ability to use certain features of our App.
</p>

<h4>Changes to This Privacy Policy</h4>
<p>
    We may update this Privacy Policy from time to time to reflect changes in our data practices or legal requirements. We will notify you of any material changes by posting the updated policy on this page. We encourage you to review this Privacy Policy periodically for any updates.
</p>

<h4>Contact Us</h4>
<p>
    If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us at gymfitplus@mail.com.
</p>