@model IEnumerable<ExerciseAllViewModel>
@{
    ViewBag.Title = "Explore Exercises";
}
@section Styles {
    <link rel="stylesheet" href="~/css/AddExercise.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/IndexExercises.css" asp-append-version="true" />

    @if (Model.Any() == false)
    {
        <link rel="stylesheet" href="~/css/SideButtonHide.css" asp-append-version="true" />
    }
}

<header class="text-center">
    <h1>Explore Exercises</h1>
</header>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 center-div mb-4">
            <a class="btnn nav-link d-flex justify-content-center" asp-controller="Exercise" asp-action="AddExercise">Add Exercise</a>
        </div>
    </div>
</div>
<hr />

@await Component.InvokeAsync("SearchExerciseComponent", ViewBag.Query)

@if (Model.Any())
{
    <div class="container">
        <div class="row text-center">
            <div class="row justify-content-center mt-0" id="sourceElement">
                @foreach (var item in Model)
                {
                    <div class="card col-md-2 box mt-3">
                        <a asp-controller="Exercise" asp-action="Details" asp-route-id="@item.Id" class="btn">
                            <div class="card h-100 ">
                                <img src="/images/Exercises/@(item.MuscleGroup.ToString()).svg" class="card-img-top" />
                                <div class="card-body">
                                    <h3 class="card-title">@item.Name</h3>
                                    <p class="card-text"> Used in @item.UsedByProgramsCount fitness programs.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row text-center">
            <div class="row justify-content-center mt-5" id="sourceElement">
                <h3 id="checkForButtons">Nothing was found for your search</h3>
            </div>
        </div>
    </div>  
}


@section Scripts {
    <script src="~/js/IndexExercises.js"></script>
}
